@use 'variables';

li > a {
    text-decoration: none;
    position: relative;
    font-family: variables.$fontJosefinSans;
    font-weight: variables.$fwJosefinSans;
    color: variables.$White;
    text-transform: uppercase;
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: calc(0% - .5rem);
    }
    &:hover::after {
        width: 100%;
        padding: 1px;
        background-color: variables.$White;
        clip-path: polygon(25% 0, 75% 0, 75% 100%, 25% 100%);
        transition: .25s ease-in-out;
    }
}